.Subtopics {
  background-color: #bbb;
  min-height: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
}

.Subtopics input, .Subtopics p {
  margin-left: 10px;
}

.Subtopics input {
  width: 100px;
}

.Subtopics form {
  display: flex;
  align-items: center;
  margin: 0 15px;
}

.Subtopics .subtopic-title {
  margin: 0 5px 0 0;
}

.Subtopics .symbol-button {
  overflow: hidden;
  padding: 0 4px;
  height: 27px;
}

.Subtopics .symbol-button p {
  font-size: 32px;
  padding: 0;
  margin: -14px -1px 0 0;
}
