.Ticket {
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  word-break: break-word;
  box-shadow: 0px 2px 5px #999;
  transition: 0.25s ease-in-out;
}

/* Width */

@media (min-width: 320px) {
  .Ticket {
    /* 1 to a row */
    width: 100%;
  }
}

@media (min-width: 576px) {
  .Ticket {
    /* 2 to a row */
    width: calc((100% - (2 * 40px)) / 2);
  }
}

@media (min-width: 768px) {
  .Ticket {
    /* 1 to a row */
    width: 100%;
  }
}

@media (min-width: 992px) {
  .Ticket {
    /* 2 to a row */
    width: calc((100% - (2 * 40px)) / 2);
  }
}

@media (min-width: 1200px) {
  .Ticket {
    /* 3 to a row */
    width: calc((100% - (3 * 40px)) / 3);
  }
}

/* End width */

.Ticket:hover {
  box-shadow: 0px 2px 15px #555;
}

.Ticket img {
  width: 40px;
  border-radius: 20px;
  margin: 5px;
}

.Ticket select {
  display: block;
  margin: 10px auto;
}

.Ticket button {
  margin: 5px;
}

.Ticket h1 {
  font-size: 24px;
}

.Ticket p {
  font-size: 16px;
  margin: 5px;
}

.priority-low {
  background-color: #00FF00;
}

.priority-medium {
  background-color: yellow;
}

.priority-high {
  background-color: red;
}
