h1, h2, h3, h4, h5, h6, p, label, * {
  font-family: 'Prompt', sans-serif;
}

button {
  cursor: pointer;
  background-color: #efefef;
}

button, select, input, textarea {
  border-radius: 5px;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
}

/* App */

.App header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.App header h1 {
  font-size: 36px;
  padding: 10px;
}

/* SignIn */

.SignIn {
  background-color: #999;
  height: 180px;
}

.SignIn .container {
  padding-top: 50px;
}

.SignIn button {
  padding: 10px;
  display: block;
  margin: 10px auto;
}

/* SignOut */

.SignOut {
  display: flex;
  align-items: center;
  height: 60px;
}

.SignOut p {
  font-size: 16px;
}

@media (max-width: 768px) {
  .SignOut p {
    display: none;
    visibility: hidden;
  }
}

.SignOut img {
  border-radius: 30px;
  width: 40px;
  margin-left: 10px;
}

.SignOut button {
  padding: 10px;
  margin: 10px;
}
