h1, p, button, textarea, input {
  font-family: 'Prompt', sans-serif;
}

button {
  cursor: pointer;
}

body {
  background-color: #efefef;
}

/* App */

.App header {
  /* position: fixed; */
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.App header h1 {
  font-size: 36px;
  padding: 10px;
}

/* SignIn */

.SignIn button {
  padding: 10px;
  display: block;
  margin: auto;
  margin-top: 20px;
}

/* SignOut */

.SignOut {
  display: flex;
  align-items: center;
  height: 60px;
}

.SignIn p {
  font-size: 16px;
}

.SignOut button {
  padding: 10px;
  margin: 10px;
}

/* TicketList */
.TicketList {
  text-align: center;
}

.TicketList form {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: auto;
}

.TicketList form input, .TicketList form button {
  margin: 5px;
}

/* Ticket */

.Ticket {
  text-align: center;
  background-color: #2196f3;
  width: 300px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 20px;
  word-break: break-word;
}

.Ticket img {
  width: 40px;
  border-radius: 20px;
}

.Ticket h1 {
  font-size: 24px;
}

.Ticket p {
  font-size: 16px;
}
