h1, h2, h3, h4, h5, h6, p, label, * {
  font-family: 'Prompt', sans-serif;
}

button {
  cursor: pointer;
  background-color: #efefef;
}

button, select, input, textarea {
  border-radius: 5px;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
}

/* html, body, #root, .App, .HomeSection, .Homescreen {
  height: 100%;
} */

/* App */

.App header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.App header h1 {
  font-size: 36px;
  padding: 10px;
}

/* SignIn */

.SignIn button {
  padding: 10px;
  display: block;
  margin: auto;
  margin-top: 20px;
}

/* SignOut */

.SignOut {
  display: flex;
  align-items: center;
  height: 60px;
}

.SignOut p {
  font-size: 16px;
}

@media (max-width: 768px) {
  .SignOut p {
    display: none;
    visibility: hidden;
  }
}

.SignOut img {
  border-radius: 30px;
  width: 40px;
  margin-left: 10px;
}

.SignOut button {
  padding: 10px;
  margin: 10px;
}

/* TicketInput */

.TicketInput {
  background-color: #999;
  height: 230px;
}

@media (min-width: 768px) {
  .TicketInput {
    position: fixed;
    width: 25%;
    height: 100%;
    float: left;
  }
  .TicketInput .container {
    flex-direction: column;
    align-items: center;
  }
}

.TicketInput .container {
  width: 400px;
  margin: auto;
  display: flex;
  align-items: center;
}

.TicketInput form {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 20px;
}

.TicketInput form textarea {
  resize: none;
}

.TicketInput form input, .TicketInput form button {
  margin: 5px 0;
}

.TicketInput .checkboxes {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.TicketInput .checkboxes p {
  font-size: 24px;
  margin: auto;
}

/* TicketList */

.TicketList {
  margin-left: 25%;
  /* margin: 0px 10px; */
  display: flex;
  flex-wrap: wrap;
}

/* Ticket */

.Ticket {
  text-align: center;
  max-width: 300px;
  margin: 20px 10px;
  padding: 10px;
  border-radius: 20px;
  word-break: break-word;
  box-shadow: 0px 2px 5px #999;
  transition: box-shadow 0.25s ease-in-out;
}

@media (max-width: 768px) {
  .Ticket {
    margin: 20px auto;
  }
}

.Ticket:hover {
  box-shadow: 0px 2px 15px #555;
}

.Ticket img {
  width: 40px;
  border-radius: 20px;
  margin: 5px;
}

.Ticket select {
  display: block;
  margin: 10px auto;
}

.Ticket button {
  margin: 5px;
}

.Ticket h1 {
  font-size: 24px;
}

.Ticket p {
  font-size: 16px;
  margin: 5px;
}

.priority-low {
  background-color: #00FF00;
}

.priority-medium {
  background-color: yellow;
}

.priority-high {
  background-color: red;
}
