h1, p, button {
  font-family: 'Prompt', sans-serif;
}

body {
  background-color: #efefef;
}

/* App */

.App header {
  /* position: fixed; */
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.App header h1 {
  font-size: 36px;
  padding: 10px;
}

/* SignIn */

.SignIn button {
  padding: 10px;
  cursor: pointer;
  display: block;
  margin: auto;
  margin-top: 20px;
}

/* SignOut */

.SignOut {
  display: flex;
  align-items: center;
  height: 60px;
}

.SignIn p {
  font-size: 16px;
}

.SignOut button {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
